.sign-in {
  margin-top: 10px;
  padding: 300px 0 200px;
  background-image: url("../images/sub_app_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}










